* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Navigator-container{
    width: 100vw;
    height: 100px;
    font-weight: bolder;
    


    /* CSS GRID FOR NAVIGATORS */
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
}


.Logo-container{
    padding: 25px;
    

    /* CSS GRID */
    grid-column: 1/2;
}


.Bars-container{
    display: none;

    /* CSS GRID */
    grid-column: 2/3;
}



.Navigators{
    list-style: none;
    

    /* CSS GRID */
    display: grid;
    grid-column: 3/4;
    grid-auto-flow: column;
    place-items: center;
}




.Home{
    width: 100vw;
    height: 100vh;
    background-color: blue;

}

.Projects{
    width: 100vw;
    height: 100vh;
    background-color: red;

}

.Skills{
    width: 100vw;
    height: 100vh;
    background-color: green;

}

.Rusume{
    width: 100vw;
    height: 100vh;
    background-color: yellow;

}

.Contacts{
    width: 100vw;
    height: 100vh;
    background-color: pink;

}



/* RESPONSIVE CSS GRID */

/* LARGE DEVICE */
@media (min-width:768px){


}


/* MEDIUM DEVICE */
@media (min-width:568px) and (max-width:768px){

     
    body{
        color: yellow;
    }


    .Navigator-container{


        /* CSS GRID */
        display: grid;
       
        grid-template-rows: 1fr 1fr;
    }


    .Logo-container{


        /* CSS GRID */
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Bars-container{
        display: block;
        position: fixed;
        font-size: 40px;
        top: 10px;
        left: 93%;


        /* CSS GRID */
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .Navigators{
        width: 100vw;
        background-color: red;
        margin-top: 30px;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
        row-gap: 10px;
        
    }

}


@media (max-width:578px){

    body{
        color: pink;
    }

    .Navigator-container{


        /* CSS GRID */
        display: grid;
       
        grid-template-rows: 1fr 1fr;
    }


    

    .Bars-container{
        display: block;
        position: fixed;
        font-size: 40px;
        top: 10px;
        left: 90%;


        /* CSS GRID */
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .Navigators{
        width: 100vw;
        background-color: green;
        margin-top: 30px;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
        row-gap: 10px;
        
    }

}
