* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}

.Navigator-container{
    width: 100vw;
    height: 80px;
    font-weight: bolder;
    position: fixed;
    background-color: rgba(1, 100, 100, 1);
    box-shadow: 0px 0px 5px 0px black;
    


    /* CSS GRID FOR NAVIGATORS */
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
}


.Logo-container{
    padding: 20px;
    

    /* CSS GRID */
    grid-column: 1/2;
}


.Bars-container{
    display: none;

    /* CSS GRID */
    grid-column: 2/3;
}



.Navigators{

    list-style: none;
    

    /* CSS GRID */
    display: grid;
    grid-column: 3/4;
    grid-auto-flow: column;
    place-items: center;
}

.Navigator-container .Navigators a{
    text-decoration: none;
    
}

.Navigators li{
    padding: 5px;
    color: black;
    transition:0.2s ;
    transform-origin: 0.3s;
    transition-timing-function: cubic-bezier(9, 0, 0, 9);
} 



/* HOVER EFFECT FOR NAVIGATORS */

.Navigators li:hover{
    border-bottom: 10px solid black;
    

}




.Home{
    width: 100vw;
    height: 100vh;
    background-color: blue;

}

.Projects{
    width: 100vw;
    height: 100vh;
    background-color: red;

}

.Skills{
    width: 100vw;
    height: 100vh;
    background-color: green;

}

.Resume{
    width: 100vw;
    height: 100vh;
    background-color: yellow;

}

.Contacts{
    width: 100vw;
    height: 100vh;
    background-color: pink;

}



/* RESPONSIVE CSS GRID */

/* LARGE DEVICE */
@media (min-width:768px){


}


/* MEDIUM DEVICE */
@media (min-width:568px) and (max-width:768px){

     
    body{
        color: yellow;
    }


    .Navigator-container{
        
        

        /* CSS GRID */
        display: grid;
       
        grid-template-rows: 1fr 1fr;
    }


    .Logo-container{


        /* CSS GRID */
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Bars-container{
        display: block;
        position: fixed;
        font-size: 40px;
        top: 10px;
        left: 90%;


        /* CSS GRID */
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .Navigators.show{
        width: 100vw;
        height: 150px;
        transition: height 0.2s ease;
        background-color: pink;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
   
        
    }

    .Navigators.hide{
        width: 100vw;
        height: 0px;
        font-size: 0px;
        background-color: red;
        transition: height 0.2s ease;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
   
        
    }

    



}


@media (max-width:578px){

    body{
        color: yellow;
    }


    .Navigator-container{


        /* CSS GRID */
        display: grid;
       
        grid-template-rows: 1fr 1fr;
    }


    .Logo-container{


        /* CSS GRID */
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Bars-container{
        display: block;
        position: fixed;
        font-size: 40px;
        top: 10px;
        left: 90%;


        /* CSS GRID */
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .Navigators.show{
        width: 100vw;
        height: 150px;
        transition: height 0.2s ease;
        background-color: pink;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
   
        
    }

    .Navigators.hide{
        width: 100vw;
        height: 0px;
        font-size: 0px;
        background-color: red;
        transition: height 0.2s ease;

        /* CSS GRID */
        grid-auto-flow: row;
        grid-row: 2/3;
        grid-column: 1/3;
   
        
    }

    

    
}
